@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
/* .gradient-heading {
	@apply box-decoration-clone bg-clip-text text-transparent;
	/* Direction */
/* @apply bg-gradient-to-b; */
/* Color Stops */
/* @apply from-primary-900 via-tertiary-500 to-surface-50; */
/* 
	@apply variant-glass-surface;

	@apply text-6xl lowercase font-heading-token;
	@apply text-center;
	@apply mb-0; */
/* } */
